.detail-view {
  width: 50%;
  height: 100%;
  padding: 10px;
  background-color: rgb(235, 27, 42);
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  overflow: hidden;
}

.sprite {
  width: 250px;
  height: 250px;
  margin: 10px auto;
  align-items: center;
  background: url('../../Assets/pokeball.png');
  background-size: contain;
  background-color: white;
  border: 15px solid #DEDEDE;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.pokemon-sprite {
  transform: scale(1.25);
}

.data-wrapper {
  width: 80%;
  height: 410px;
  padding: 10px;
  margin: 0 auto;
  background-color: #424242;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.22);
  color: #FFF;
}

.data-name {
  margin: 0 0 5px;
  text-transform: capitalize;
}

.data-type {
  font-size: 20px;
  text-transform: capitalize;
  font-style: bold;
}