.variety-tabs .tab-container {
  display: inline;
  text-align: center;
  color: #fff;
  outline: none;
  transition: 0.5s;
  font-size: 18px;
}

.sprite {
  width: 250px;
  height: 250px;
  margin: auto;
  background: url('../../Assets/pokeball.png');
  background-size: contain;
  background-color: #fff;
  border: 15px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
}

div img {
  transform: scale(1.25);
}