.poke-cell {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #FFF;
  background-size: contain;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
  }
}

.poke-cell:hover {
  animation: bounce 0.5s;
  filter: brightness(95%);
}