.tabs {
  display: inline-flex;
  border-bottom: solid black 1px;
  overflow: scroll;
}

.tab {
  padding: 5px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 125px;
  text-transform: capitalize;
  background-color: rgb(233, 80, 90);
}

.tab:hover {
  background-color: #626262;
  cursor: pointer;
}

.active-tab {
  transition: 0.5s;
  background-color: #424242;
}
